{% extends "base.html" %}
{% block titulo %}Lista de Productos{% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="#" role="button">Agregar nuevo producto</a>
    </div>
    <div class="card-body">
        <h4 class=""card-title">Productos</h4>
        <table class=""table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>
                            <img src="{{producto.imagen.url}}"  alt="{{producto.nombre}}" width="20%">                            
                        </td>
                        <td>${{producto.precio}}</td>
                        <td>
                            <a name="" id="" class="btn btn-warning" href="#" role="button">Editar</a>                            
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' producto.id %}" role="button">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{% endblock %}